# ignore everything
/*

# but these files
!/.gitignore
!/.zshenv

# and config
!/.config
/.config/*
!/.config/README.md

# nvim config
!/.config/nvim/
/.config/nvim/plugin/

# iterm2 config
!/.config/iterm2/
/.config/iterm2/AppSupport

# zsh config and prompt
!/.config/zsh/
!/.config/sheldon/

