# ignore everything
*

# but these home files
!.gitignore
!.tool-versions
!.zshenv

# and config folders
!.config/
!.config/README.md

# nvim config
!.config/nvim/
.config/nvim/plugin/

# iterm2 config
!.config/iterm2/
.config/iterm2/AppSupport

# zsh config and plugin manager
!.config/zsh/
!.config/sheldon/

# git config
!.config/git/

